/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
  font-family: "lato", sans-serif;
  font-weight: bold;
}

body {
  background: rgb(245, 245, 245);
  color: #333333;
  margin-top: 20px;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

.container {
  display: block;
  margin: 0 auto;
  width: 700px;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  padding: 10px;
  font-size: 16px;
}

/* Style the "Add" button */
button {
  padding: 5px;
  width: 15%;
  background: #d9d9d9;
  color: #555;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #bbb;
}
